<!DOCTYPE html>
<html>
  <head>
      <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?q={{time}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>title</title>
  </head>
  <body id="bchof">
  <h1 id="hoft"> The Chicken Hall of Fame </h1>
<div class="card-deck" >
  <div class="card" id="card1">
    <img src="https://www.miketheheadlesschicken.org/sites/default/files/styles/gallery500/public/imageattachments/mike/page/4272/mike_promo.jpg?itok=98yZ_puA" class="card-img-top" alt="c1" style="width:400px;height:500px;">
    <div class="card-body" style="width:400px;height:300px;">
      <h5 class="card-title">Miracle Mike</h5>
      <p class="card-text">Mike The Headless Chicken lived for 18 months without a noggin after a farmer, in a failed attempt at slaughter, axed off his head and missed the jugular vein. Miracle Mike met his unexpected death over a year later when he choked on a kernel of corn.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card" id="card2">
    <img src="https://i.pinimg.com/236x/82/10/43/821043318ac8e400cd94223681c3c1fa--rhode-island-red-chicken-life.jpg" class="card-img-top" alt="c2" style="width:400px;height:500px;">
    <div class="card-body" style="width:400px;height:300px;">
      <h5 class="card-title" id="cp1">El Gallo</h5>
      <p class="card-text">This chicken chased anybody that entered my Grandpa's farm. It was a very scary experience because he was bigger than your average chicken. Disclaimer: This is not a picture of the chicken, nobody dared to get close enough.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card" id=card3 >
    <img src="https://img.class.posot.it/it_it/2018/01/02/Gallo-razza-ermellinato-di-Rovigo-20180102115052.jpg" class="card-img-top" alt="c3" style="width:400px;height:500px;">
    <div class="card-body"style="width:400px;height:300px;" >
      <h5 class="card-title">Dinner Protein</h5>
      <p class="card-text">This is Dinner, he is famous with the gym junkies. We haven't heard from him in a long time haha.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target = "_blank" class=".hm2">More famous Chickens</a>
    </div>
  </div>
</div>
   <h2 id="hm"> Hall of Fame Honorary Mention</h2>

   <h3 class="hm2"> This chicken is too drippy, we simply can not compete.</h3>
    <img src="https://i.pinimg.com/originals/c7/75/f6/c775f6e32c8b2016b601f8323d299ef1.png" alt="crown" style="width:100px;height:100px;" id="crown">
    <img src="https://i.pinimg.com/originals/f7/2a/ff/f72affd781a40bbd6966c13e2263ebb3.gif" alt="chicken" style="width:300px;height:300px;" id="rc">
 
  </body>
</html>